* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-align: center;
  color: #f1f5f9;
  background-color: #1e293b;
}

h1 {
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 10px;
}

div.round-results,
div.score-board {
  font-size: 32px;
}

div.winning-message,
div.round-results {
  margin-bottom: 20px;
}

div.winning-message {
  font-size: 25px;
}

.btn-container button {
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 15px 25px;
  margin-right: 12px;
  border-radius: 10px;
  background-color: #3b82f6;
}

.btn-container button:hover {
  background-color: #588de3;
}

.btn-container button:disabled {
  color: #808080;
  cursor: not-allowed;
  background-color: #505050;
}