* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-align: center;
  background: #2A324B;
  color: #ffffff;
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 40px;
  padding: 12px;
}

div.scoreboard {
  background: #767B91;
  font-size: 32px;
  max-width: 700px;
  margin: 16px auto;
  border: 3px solid #201e23;
  border-radius: 5px;
  padding: 20px;
}

div.winner,
div.results {
  font-size: 25px;
}

div.winner {
  height: 15px;
  margin-bottom: 20px;
}

button {
  padding: 12px 28px;
  background: #767B91;
  color: #fbfafa;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 12px 8px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background: #4763b6;
}

button:active {
  background: dodgerblue;
  color: #e3b96c;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}