* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-align: center;
  background: #2A324B;
  color: #ffffff;
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 40px;
  padding: 12px;
}

div.scoreboard {
  background: #767B91;
  font-size: 32px;
  width: 700px;
  margin: 16px auto;
  border: 3px solid #201e23;
  border-radius: 5px;
  padding: 20px;
}

div.winner,
div.results {
  font-size: 25px;
}

div.winner {
  height: 15px;
  margin-bottom: 20px;
}

div.results {
  margin-bottom: 12px;
}